:root {
  --username-latin-size: 150px;
  --username-jp-size: calc(150px * 1.6);

  --username-latin-font: "DM Serif Display", serif;
  --username-jp-font: "Hina Mincho", serif;
}

body {
  position: relative;
  font-family: var(--username-latin-font);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #54c660;
}

.header-content {
  z-index: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .header-content {
    display: block;
  }
}

.header-left,
.header-right {
  align-self: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.social {
  margin: 20px auto;
}

.social a {
  text-decoration: none;
  margin: 0 5px;
  display: inline-block;
}

.social-link {
  display: inline-block;
}

.social-link svg {
  height: 32px;
  fill: white;
}

.social-link:hover svg {
  fill: #333;
}

.social-link-text {
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: 20px;
  font-size: 32px;
}

.social-link:hover + .social-link-text {
  opacity: 1;
}

.header-right-title {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header-right-title-title {
  font-size: var(--username-latin-size);
  padding: 0;
  margin: 0;
  z-index: 1;
  mix-blend-mode: difference;
}

.header-right-title-bg-title {
  position: absolute;
  font-family: var(--username-jp-font);
  font-size: var(--username-jp-size);
  white-space: nowrap;
  padding: 0;
  margin: 0;
  color: #333;
}
