{% extends "base.html" %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block content %}
	<section id="content" class="container_12 clearfix">
		<div id="left_column" class="grid_8 clearfix">
			<h2>Founders</h2>
			<div class="grid_2 alpha">
				<div class="frame">
					<img src="http://lorempixum.com/120/120/" alt="It's me my friend"/>
				</div>
			</div>
			<div class="grid_6 omega">
				<h3>Hell Yeah !</h3>
				<p>
					Alex is a passionate entrepreneur who has been part of the founding team of 4 internet start ups including eShare Technologies (Customer Service Software, 1996-1999), eAssist Global Solutions (Customer Service Software, 1999-2004), Goowy Media (Widget Analytics Platform, 2004-2008) and Assistly (Customer Service Software, 2009 - Now).
				</p>
				<p>
					He has held executive roles including VP Customer Solutions - eShare, VP Sales / Marketing - eAssist, CEO - Goowy, VP Products AOL, and is currently the CEO of Assistly. Alex is also an advisor / investor in several start-ups including Watercooler inc, Offandaway, Foodzie, Irata labs (acquired by IGN), etc.
				</p>
				<p>
					Alex has lived all over the world including NY, Toronto, London, LA, and currently splits time between San Francisco and San Diego.
				</p>
			</div>
			<div class="grid_2 alpha">
				<div class="frame">
					<img src="http://lorempixum.com/120/120/" alt="It's me my friend"/>
				</div>
			</div>
			<div class="grid_6 omega">
				<h3>Hell Yeah !</h3>
				<p>
					Alex is a passionate entrepreneur who has been part of the founding team of 4 internet start ups including eShare Technologies (Customer Service Software, 1996-1999), eAssist Global Solutions (Customer Service Software, 1999-2004), Goowy Media (Widget Analytics Platform, 2004-2008) and Assistly (Customer Service Software, 2009 - Now).
				</p>
				<p>
					He has held executive roles including VP Customer Solutions - eShare, VP Sales / Marketing - eAssist, CEO - Goowy, VP Products AOL, and is currently the CEO of Assistly. Alex is also an advisor / investor in several start-ups including Watercooler inc, Offandaway, Foodzie, Irata labs (acquired by IGN), etc.
				</p>
				<p>
					Alex has lived all over the world including NY, Toronto, London, LA, and currently splits time between San Francisco and San Diego.
				</p>
			</div>
		</div>
		{% include "site/nav.html" %}
	</section>
{% endblock %}