{% extends "projects/projects.html" %}

{% set path = 'projects/' %}

{% block project %}
	<section id="content" class="container_12 clearfix">
		<div id="left_column" class="grid_8 clearfix">
			<h2 id="games">Games</h2>
				<div class="frame">
					<a href="{{ path }}heart-of-jump" title="Heart of Jump">
						<img src="{{ root }}web/images/projects/heart-of-jump/logo-large.png" alt="Logo Heart of Jump"/>
					</a>
				</div>
				<div class="frame">
					<a href="{{ path }}8-bit-robot-music-party" title="8-Bit Robot Music Party">
						<img src="{{ root }}web/images/projects/8-bit-robot-music-party/logo-large.png" alt="Logo 8-Bit Robot Music Party"/>
					</a>
				</div>
			
			{#<h2 id="software">Software</h2>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>#}
				
			<h2 id="web">Web</h2>
				<div class="frame">
					<a href="{{ path }}jeuxamateurs" title="JeuxAmateurs">
						<img src="{{ root }}web/images/projects/jeuxamateurs/logo-large.png" alt="Logo JeuxAmateurs"/>
					</a>
				</div>
				
			{#<h2 id="mobile">Mobile</h2>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>
			
			<h2 id="others">Others</h2>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>
				<div class="frame">
					<a href="#" title="Our last project"><img src="http://lorempixum.com/598/300/" alt="Last project"/></a>
				</div>#}
		</div>
		<div id="right_column" class="grid_3 push_1 clearfix">
			<nav class="frame">
				<div id="nav_1" class="navigation"><a href="#games">Games</a></div>
				<ul id="sub_1">
					<li><a href="{{ path }}8-bit-robot-music-party">8-Bit Robot Music Party</a></li>
					<li><a href="{{ path }}heart-of-jump">Heart of Jump</a></li>
				</ul>
				{#<div id="nav_2" class="navigation"><a href="#software">Software</a></div>
				<ul id="sub_2">
					<li><a href="#">8-Bit Robot Music Party</a></li>
					<li><a href="#">Bla bla bla</a></li>
					<li><a href="#">Frites</a></li>
				</ul>#}
				<div id="nav_3" class="navigation"><a href="#web">Web</a></div>
				<ul id="sub_3">
					<li><a href="{{ path }}jeuxamateurs">JeuxAmateurs.fr</a></li>
				</ul>
				{#<div id="nav_4" class="navigation"><a href="#mobile">Mobile</a></div>
				<ul id="sub_4">
					<li><a href="#">Flying Potato</a></li>
				</ul>
				<div id="nav_5" class="navigation"><a href="#others">Others</a></div>
				<ul id="sub_5">
					<li><a href="#">8-Bit Robot Music Party</a></li>
					<li><a href="#">Bla bla bla</a></li>
					<li><a href="#">Frites</a></li>
				</ul>#}
			</nav>
		</div>
	</section>
{% endblock %}